<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Suite">

<test name="Test 1">
    <classes>
        <class name="com.test.Sample.AppTest" ></class>  
    </classes>
</test>

<test name="Test 2">
    <classes>
        <class name="com.test.Sample.AppTest2" ></class>  
    </classes>
</test>

</suite>
